{% extends "base.html" %}
{% block head %}
{{ super() }}
{% for keyword in article.keywords %}
<meta name="keywords" content="{{keyword}}" />
{% endfor %}

{% for description in article.description %}
<meta name="description" content="{{description}}" />
{% endfor %}

{% for tag in article.tags %}
<meta name="tags" content="{{tag}}" />
{% endfor %}

<meta property="og:site_name" content="{{ SITENAME }}">
<meta property="og:title" content="{{ article.title }}">
<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
<meta property="og:description" content="{{ article.summary }}" />

{% if AVATAR %}
<meta property="og:image" content="{{ AVATAR }}">
{% endif %}

<meta name="twitter:card" content="summary" />

{% if TWITTER_USERNAME %}
<meta name="twitter:site" content="{{ TWITTER_USERNAME }}" />
<meta name="twitter:creator" content="{{ TWITTER_USERNAME }}" />
{% endif %}

<meta name="twitter:title" content="{{ article.title }}" />
<meta name="twitter:description" content="{{ article.summary }}" />
<meta name="twitter:url" content="{{ SITEURL }}/{{ article.url }}" />
<meta name="twitter:domain" content="{{ SITEURL }}" />

{% endblock %}

{% block content %}

<div class="posts">

  <section class="post">
    <header class="post-header">
      <a href="{{ SITEURL }}/{{ article.url }}"><h1 class="post-title" rel="bookmark"
        title="Permalink to {{ article.title|striptags }}">{{ article.title }}</h1>
      </a>
      {% import 'translations.html' as translations with context %}
      {{ translations.translations_for(article) }}
      <p class="post-meta">
        Posted {{ article.locale_date }} by 
        {% for author in article.authors %}
        <a class="post-author" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
        {% endfor %}
      </p>
    </header>

    <div class="post-description">
      <p>
        {{ article.content }}
      </p>
      {% for tag in article.tags %}
      <a class="post-category post-category-js" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
      {% endfor %}
    </div>
  </section>
</div>

{% if DISQUS_SITENAME %}
<div class="comments">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_identifier = "{{ article.url }}";
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//{{ DISQUS_SITENAME }}.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
</div>
{% endif %}


{% endblock %}