{% extends "base.html" %}

{% block content %}
<div class="posts">
  <div class="item-title">
    <h1 class="post-title">{{tag}}</h1>
  </div>
  {% for article in articles %}
  <section class="post">
    <header class="post-header">
      <a href="{{ SITEURL }}/{{ article.url }}"><h2 class="post-title" rel="bookmark"
        title="Permalink to {{ article.title|striptags }}">{{ article.title }}</h2>
      </a>
      <p class="post-meta">
        By
        {% for author in article.authors %}
        <a class="post-author" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
        {% endfor %}
        under
        {% for tag in article.tags %}
        <a class="post-category post-category-js" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
        {% endfor %}
      </p>
    </header>

    <div class="post-description">
      <p>
        {{ article.summary }}
      </p>
    </div>
  </section>
  {% endfor %}
</div>
{% endblock %}